.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: transparent;
  border: 1.2px solid #ebf8ff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 20px;
  transition: width .5s;
  border-radius: 5px;
  background: #ebf8ff;
  border: 1px solid transparent;
}