/* Pretendard Variable */
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable-dynamic-subset.min.css");

/* NPS Font (국민연금체) */
@font-face {
	font-family: "국민연금체";
	font-style: normal;
	font-weight: 400;
	src: url("assets/fonts/NPSfont_regular.ttf");
}
@font-face {
	font-family: "국민연금체";
	font-style: normal;
	font-weight: 700;
	src: url("assets/fonts/NPSfont_bold.ttf");
}
@font-face {
	font-family: "국민연금체";
	font-style: normal;
	font-weight: 800;
	src: url("assets/fonts/NPSfont_extrabold.ttf");
}

@layer utilities {
    .h2-nps {
        @apply font-bold ml-2.5; /* Tailwind CSS의 볼드 스타일 */
        font-family: "국민연금체", sans-serif; /* 국민연금체와 폴백 글꼴 지정 */
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
